<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
		<customErrors mode="Off"/>
        <compilation debug="true" targetFramework="4.5">
            <assemblies>
                <add assembly="System.IO.Compression, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
                <add assembly="System.IO.Compression.FileSystem, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
            </assemblies>
        </compilation>
		<pages enableViewStateMac="false" enableEventValidation="false" validateRequest="false" viewStateEncryptionMode="Never"/>
		<sessionState timeout="30" cookieless="false" />
		<globalization 
			requestEncoding="utf-8"
			responseEncoding="utf-8"/>
    </system.web>
</configuration>